<%- include('partial/start.ejs') %>

<h2 class="text-center mt-5" style="font-weight: bold; font-size: 50px; font-family: 'Dishonorable Mention: Comic Sans'; margin-top: 5px;" >TS MERCHANDISE</h2>
<div class="container">
    <div class="row">
        <% products.forEach(function(product, index) { %>
            <div class="col-md-3 mb-4 d-flex justify-content-center"> 
                <div class="card text-center">
                    <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.description %></p>
                        <p class="card-text"><strong>$<%= product.price %></strong></p>
                    
                        <a href="/products/buy/<%= product.id %>" class="btn btn-success w-100">Buy Now</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>


<%- include('partial/end.ejs') %>
